.cards-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* CHARACTERS */

.char-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 24px;
  text-align: center;
}

.char-card:hover {
  transform: translateZ(10px) scale(1.2);
  transition: all 0.5s ease;
}

.char-card img {
  border-radius: 50%;
  width: 198px;
  height: 198px;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 24px;
}

.char-card p {
  display: none;
  font-size: 12px;
}

.char-card:hover p {
  display: inline;
  white-space: nowrap;
}

/* COMICS */

.comic-card {
  display: flex;
  width: 45%;
  padding: 24px;
}

.comic-card img {
  border-radius: 4px;
  width: 160px;
  height: 240px;
  aspect-ratio: 2/3;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 24px;
}

.comic-card > div {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 32px;
}

.comic-card > div > div,
.char-card > div > div {
  font-weight: 600;
}

.comic-card p {
  font-size: 14px;
}

/* FAVORITES */

.fav-icon {
  color: white;
  position: absolute;
  margin-top: 28px;
  font-size: 19px;
  margin-left: 112px;
  opacity: 0.5;
  cursor: pointer;
}
