.cards-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.char-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  padding: 24px;
  text-align: center;
}

.char-card img {
  border-radius: 50%;
  width: 198px;
  height: 198px;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 24px;
}

.char-card p {
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.char-card p:hover {
  height: fit-content;
  overflow: visible;
}
