header {
  background-color: var(--red);
  position: fixed;
  width: 100%;
  z-index: 1;
}

header > .container {
  padding: 8px;
  width: 86vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 16px;
}

header img {
  height: 45px;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-left: 8px;
}

header a .svg-inline--fa {
  margin-right: 4px;
}
